body {
  font-family: 'Titillium Web', sans-serif;
  /* background: rgb(255, 251, 246); */
  background: url("../src/assets/images/hop-bg.jpg") no-repeat bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  color:rgb(34, 24, 14);
}

.main {
  position:relative;
}

.main-container {
  padding:20px;
  position: relative;
  display: flex;
  padding-left: 270px;
}

.navbar {
  height: 55px;
  background: linear-gradient(rgba(44, 31, 14, 0.73), rgba(44, 31, 14, .45));
  z-index: 1000;
  font-size: 12pt;
  margin-left: 270px;
  position: relative;
}

.navbar-link a {
  color: white;
}

#nav-hops{
  position: absolute;
  margin-left:33%;
  margin-top: 0px;
  z-index: 4000;
}

.sidebar-header{
  padding: 2px;
  font-weight: bold;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-self: center;
}

.brewkeeper-logo {
  text-decoration: none;
  color: bisque;
  font-size: 24pt;
  text-shadow: black;
}

.brewkeeper-logo:hover {
  text-decoration: none;
  color: rgb(255, 208, 151);
  font-size: 24pt;
  text-shadow: black;
}

.sidebar-link{
  font-size: 14pt;
}

.sidebar-btn-wrapper a{
    text-decoration: none;
    color: bisque;
}

.sidebar-btn-wrapper a:hover{
  text-decoration: none;
  color: rgb(255, 208, 151);
}

.all-recipes{
  position:relative;
  padding-right: 30px
}

@media (min-width: 1200px) {
.all-recipes {   
    max-width: 1140px;
}}

.filter-sort-bar {
  position:relative;
  display: flex;
  max-width: 400px;
  padding: 15px;
  background: linear-gradient(rgba(44, 31, 14, 0.73), rgba(44, 31, 14, .45));
  color: white;
  border-radius: 5px;
  font-size: 14pt;
}

.card-deck{
  margin-top: 10px;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: .5rem;
}

.recipe-card {
  margin: 20px;
  width: 250px;
  height: 200px;
  line-height: 20px;
  color: rgb(51, 24, 1);
  background-color: rgb(255, 255, 255);
  transition: all .5s ease;
  -webkit-transition: all .5s ease; 
  -moz-transition: all .5s ease; 
  -o-transition: all .5s ease; 
  -ms-transition: all .5s ease; 
}

.recipe-card:hover {
  background-color: rgb(214, 203, 181);
  transition: all .5s ease;
  -webkit-transition: all .5s ease; 
  -moz-transition: all .5s ease; 
  -o-transition: all .5s ease; 
  -ms-transition: all .5s ease; 
}

.recipe-page {
  padding:30px;
  background: linear-gradient(rgba(44, 31, 14, 0.8), rgba(44, 31, 14, .7));
  border-radius: 5px;
  color: white;
}

.reviews-box {
  padding: 15px;
  margin-top: 15px;
}

.review{
  padding: 5px;
  vertical-align: middle;
}

.recipe-stats{
  line-height: 10px;
}

.detail-items {
  margin-left:auto;
}

.list-items{
  max-width: 350px;
  position: fixed;
  height: 80%;
  overflow-y: auto;
}

.list-item{
  cursor: pointer;
  min-width: 300px;  
}

.item-display-container{
  position:relative;
  margin-right: 0;
  padding:30px;
  background: linear-gradient(rgba(44, 31, 14, 0.8), rgba(44, 31, 14, .7));
  border-radius: 5px;
  color: white;
}

.create-recipe-form {
  position:relative;
  padding: 20px;
  padding-bottom: 40px;
  overflow-y: auto;
  min-width: 700px;
  background: linear-gradient(rgba(44, 31, 14, 0.6), rgba(44, 31, 14, .6));
  border-radius: 5px;
  color: white;
}

.create-recipe-form .form-row{
  padding-bottom:10px;
}

.boil-btn{
  align-self: flex-end;
}

.live-recipe-stats {
  background: linear-gradient(rgba(44, 31, 14, 0.6), rgba(44, 31, 14, .6));
  border-radius: 5px;
  color: white;
  padding:20px;
  position: fixed;
  width: 200px;
}

.create-beer-display{
  background: linear-gradient(rgba(44, 31, 14, 0.6), rgba(44, 31, 14, .6));
  border-radius: 5px;
  color: white;
  padding:20px;
  width: 200px;
  position: fixed;
  top: 380px;
}

.beer-image-overlays{
  position: relative;
  width: 150px;
  height: 380px;
}

#beer-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}

#overlayed-beer-svg{
  position: relative;
  z-index: 2;
  mix-blend-mode: multiply;
  width: 112.6pt;
  height: auto;
}

#beer-cover-shape{
  filter: invert(1)
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* titillium-web-regular - latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/titillium-web-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./assets/fonts/titillium-web-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/titillium-web-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/titillium-web-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/titillium-web-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/titillium-web-v9-latin-regular.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
