.main {
  padding: 5%;
  position:relative;
}

.navbar {
  height: 70px;
  background-color: #c7a900;
  z-index: 1000;
  color: wheat;
}

.sidebar-header{
  padding: 17px;
  font-weight: bold;
  font-size: 18pt;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-container{
  position: fixed;
}

.recipe-card {
  margin: 20px;
  max-width: 250px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
